.flex-container {
  display: flex;
  flex-direction: column;
}

.header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  height: 7vh;
  padding: 1.5rem 2.5rem 0rem 2.5rem;
}

.arrow-button {
  display: flex;
  flex-direction: row;
  font-size: 1.25rem;
  gap: 0.7rem;
  padding: 0;
  align-items: center;
  background-color: rgba(0, 0, 0, 0);
  border: none;
  cursor: pointer;

  p {
    margin: 0;
  }

  svg {
    fill: var(--fill, #fff);
  }
}

.quotation-button {
  padding: 0;
  background-color: rgba(0, 0, 0, 0);
  border: none;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  cursor: pointer;

  svg {
    fill: var(--fill, #fff);
  }
}

.main-body {
  height: 53vh;
  overflow-y: hidden;
}

/* 内容区样式 */
/* .content-container {
  display: flex;
  flex-direction: row; 左右布局 
  justify-content: space-between;
  align-items: center;
  padding: 0rem 2.5rem 0rem 2.5rem;
} */

.scrollable-container {
  height: 100vh;
  overflow-y: auto;
  /* 确保滚动是平滑的 */
  scroll-behavior: smooth;
  -webkit-overflow-scrolling: touch;
}

/* 左侧文字区域 */
.text-part {
  flex: 1;
  max-width: 90%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.content-text {
  width: 80%;
}

.data-title {
  display: flex;
  text-align: center;
}

.styleA {
  h1 {
    margin: 0.5rem 0 0 0;
    text-transform: uppercase;
    font-size: 8rem;
    font-weight: bold;
    font-family: "Inter", sans-serif;
    display: inline-block;
  }
  .translation {
    display: inline-block;
    writing-mode: vertical-rl;
    font-size: 3rem;

    margin: 0;
  }
  h2 {
    margin: 0;
    font-size: 1.5rem;
    font-weight: 500;
  }
}

.styleB {
  line-height: 1.5;
  h1 {
    margin: 1rem 0 0 0;
    text-transform: uppercase;
    font-size: 3rem;
    font-weight: bold;

    display: inline-block;
  }
  .translation {
    display: inline-block;
    writing-mode: vertical-rl;
    font-size: 3rem;

    margin: 0;
  }
  h2 {
    margin: 0;
    font-size: 2rem;
    font-weight: bold;
  }
}

/* .content-title {
  font-size: 36px;
  font-weight: bold;
  margin-bottom: 20px;
} */

.content-description {
  font-size: 18px;
  line-height: 1.8;
  margin-bottom: 20px;
}

/* new */
.content-section {
  min-height: 100vh;

  position: relative;
}

.content-container {
  margin: 0;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 2rem;
  padding: 0rem 2.5rem 0rem 2.5rem;
}

/* 可以为不同section添加一些间距 */
.content-section + .content-section {
  margin-top: 2rem;
}

/* 右侧图片区域 */
.image-part {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 40%;
}

.content-image {
  max-width: 95%;
  max-height: 80%; /* 保证图片不超过父容器 */
  border-radius: 10px;
  object-fit: cover;
}

.bus-part {
  position: absolute;
  bottom: 0;
  transform: translateY(-30%);
}

.bus-stop {
  position: relative;
  left: 0;
  scale: 0.65;
  display: flex;
  align-items: flex-end;
  justify-content: flex-end;
}
