body {
  overflow-x: hidden;
  overflow-y: hidden;
}

.grid-container {
  background-color: rgba(0, 0, 0, 0);
  /* display: grid;
  grid-column-gap: 3rem;
  grid-template-columns: auto auto;
  grid-template-rows: auto auto auto auto; */
}

.title {
  color: #fff;
  font-size: 4rem;
  margin: 1rem 0 0.5rem 0;
}

.subtitle {
  color: #fff;
  font-size: 2rem;
  font-weight: 500;
  margin: 0;
}

.contents {
  color: #fff;
  font-weight: 300;
  font-size: medium;
  width: 58%;
  padding: 0.5rem 0rem;
  line-height: 1.5;
}

.bus_stop {
  /* grid-column: 2/2;
  grid-row: 1 / 5; */
  /* width: 200px; */
  position: absolute;
  bottom: 1vh;
  right: 5vw;
  transform: translateY(-50%);
  /* transform: translateX(-50%); */
  scale: 2rem;
}

.bus_svg {
  scale: 0.7;

  left: 0;

  position: absolute;
  bottom: 1vh;

  /* transform: translateY(-50%); */
}
